Cê_Comanda_MQTT_Flow.json
[{"id":"b2e9dbba.5472d8","type":"tab","label":"Cê_Comanda MQTT","disabled":false,"info":""},{"id":"4ba17a0f.e74154","type":"inject","z":"b2e9dbba.5472d8","name":"Sensor de Temperatura","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"28","payloadType":"num","x":160,"y":240,"wires":[["46248f82.ef96c"]]},{"id":"46248f82.ef96c","type":"switch","z":"b2e9dbba.5472d8","name":"Controle de Temperatura","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"15","vt":"num"},{"t":"btwn","v":"15","vt":"num","v2":"25","v2t":"num"},{"t":"gt","v":"25","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":390,"y":240,"wires":[["f79219f4.384338"],["f7a81e8c.45f81"],["81e802.775cc8"]]},{"id":"f79219f4.384338","type":"function","z":"b2e9dbba.5472d8","name":"Temperatura Abaixo do Ideal","func":"msg.payload = \"Temperatura abaixo do esperado!\"; //javascript - Node js\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":160,"wires":[["a7f7c7c6.8bb088"]]},{"id":"f7a81e8c.45f81","type":"function","z":"b2e9dbba.5472d8","name":"Temperatura Ideal","func":"msg.payload = \"Temperatura normal!\"; //javascript - Node js\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":240,"wires":[["a7f7c7c6.8bb088"]]},{"id":"81e802.775cc8","type":"function","z":"b2e9dbba.5472d8","name":"Temperatura Acima do Ideal","func":"msg.payload = \"Temperatura acima do esperado!\"; //javascript - Node js\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":320,"wires":[["a7f7c7c6.8bb088"]]},{"id":"6ced8938.1b1ac8","type":"debug","z":"b2e9dbba.5472d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":460,"wires":[]},{"id":"a7f7c7c6.8bb088","type":"mqtt out","z":"b2e9dbba.5472d8","name":"Temperatura Medida","topic":"iot_fiap_temperatura","qos":"2","retain":"","broker":"8496b98.517f848","x":920,"y":240,"wires":[]},{"id":"f613dad7.e4e248","type":"mqtt in","z":"b2e9dbba.5472d8","name":"Temperatura Medida","topic":"iot_fiap_temperatura","qos":"2","datatype":"auto","broker":"8496b98.517f848","x":330,"y":460,"wires":[["6ced8938.1b1ac8"]]},{"id":"8496b98.517f848","type":"mqtt-broker","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]