Cê_Comanda_MQTT_TagoIO_Flow.json
[{"id":"1648ddb.b475222","type":"tab","label":"Cê_Comanda MQTT TagoIO","disabled":false,"info":""},{"id":"e63f76f4.ffe5d8","type":"inject","z":"1648ddb.b475222","name":"Sensor de Temperatura","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"25","payloadType":"num","x":170,"y":240,"wires":[["6c50b884.ff3768"]]},{"id":"6c50b884.ff3768","type":"function","z":"1648ddb.b475222","name":"Temperatura Abaixo do Ideal","func":"dados = {\n    \"variable\": \"Temperatura\",\n    \"unit\": \"C\",\n    \"value\": msg.payload\n};\nmsg.payload = JSON.stringify(dados);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":240,"wires":[["1d909c0c.600254"]]},{"id":"1d909c0c.600254","type":"mqtt out","z":"1648ddb.b475222","name":"Temperatura Medida","topic":"tago/data/post","qos":"2","retain":"","broker":"725ab47d.ed84bc","x":720,"y":240,"wires":[]},{"id":"725ab47d.ed84bc","type":"mqtt-broker","name":"TagoIO_Cê_Comanda","broker":"mqtt.tago.io","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]